@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.main {
    background-color: #2d3a8c;
    height: 50vh;
    background-size: cover;
}

p {
    color: #ffffff;
    padding-top: 20px;
    padding-left: 5px;
}

.name {
    font-size: 23px;
}

.cont {
    padding: 20px;
    background-color: #ffffff;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    color: #323f4b;
    font-size: 25px;
    text-align: center;
}

.cont2 {
    background-color: #f5f7fa;
    background-size: cover;
    padding: 20px;
    border: 3px solid #e4e7eb;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.er {
    color: #dc3545;
}

.sub-head {
    color: #7b8794;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
}

.but {
    background-color: #21396c;
}

.bookmark-cont {
    background-color: #f5f7fa;
    background-size: cover;
    border: 3px solid #e4e7eb;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    list-style-type: none;
}
